*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	border: 1px solid red;
	margin-top: 50px;
}
.container{
	display: flex;
	flex-direction: column;
	height: 500px;
	align-items: flex-end;
}
.container1{
	display: flex;
	flex-direction: column;
	height: 500px;
	align-items:center;
}
.inline{
	height: 200px;
	width: 100%;
	margin: 5px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: cyan;

}

.white{
	width: 25%;
}