body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: lightblue;
}

.container{
	margin: 50px 25px;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	width: 75%;
	padding: 10px;
	align-items: center;
	background-color: white;
}

.inline{
	background-color: cyan;
	padding: 5px;
	font-size: 1.5rem ;
	margin: 10px 0px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 125px;
}

.white{
	width: 80%;
}